doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    form(method="get" action="/users")
      input(type="submit" value="Users Home Page")
