extends ../layout

block content

  h1 Create a new account!

  form(method="post" action="/users/create")
    input(type="text" name="username" placeholder="Username...")
    br
    input(type="password" name="password" placeholder="Password...")
    br
    input(type="password" name="confirm" placeholder="Confirm password...")
    br
    input(type="number" name="species_id" placeholder="Species ID Number...")
    br
    input(type="submit" value="Create Account")
    br
    br
    br
