extends ../layout

block content

  h1= data["name"]
  
  p Species ID
  h3= data["species_id"]
  
  br
  br
  br
  form(method="post" action="/users/logout")
    input(type="submit" value="Logout")
  br
  br
  br
