extends ../layout

block content

  h1 Log in Here
  form(method="post" action="users/login")
    input(type="text" name="username" placeholder="Username...")
    br
    input(type="password" name="password" placeholder="Password...")
    br
    input(type="submit" value="Log In")
    br
    
  h3 ...or create a new account!
  form(method="get" action="/users/create")
    input(type="submit" value="Create new account")
  br
  br
  br
